.movie{
    background-color: #321f28;
    display: flex;
    flex-direction: column;
    margin: 0.3em;
    border-radius: 0.5em;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.movie:hover{
    opacity: 70%;
}

img{
    width: 50%;
    border-radius: 0.5em;
}
span{
    color: white;
}

.titulo{
    font-size: x-large;
    text-align: center;
    margin: 0.5em;
}

.titulo-original{
    font-size: large;
    text-align: center;
    margin: 0.5em;
}

.valoracion,.overview{
    padding: 0.5em;
    margin: 0.5em;
    font-size: 0.8em;
}

.modal{
    display: grid;
    grid-template-rows: 8fr 1fr;
    position: absolute;
    background-color: #839b97;
    border: 1em, solid;
    border-radius: 0.5em;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
}

.datos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em;
}

.imagenPortada{
    display: flex;
    height: 80%;
    width: 100%;
}

.datosPelicula{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: center;
}

.containerButton{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.cerrar{
    width: 20%;
    background-color:#321f28;
}

.cerrar:hover{
    background-color:#321f28;
    opacity: 60%;

}

.puntuacion, .numeroVotos{
    text-align: center;
}

